# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django local database
db.sqlite3

# User uploaded files
media/

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log